# ----- server
NODE_ENV=development
PORT=4000
HOST=your-host
API_VERSION=v1

# ----- database (mongodb)
MONGO_HOST=your-mongo-host
MONGO_PORT=27017
MONGO_USER=your-mongo-user
MONGO_PASSWORD=your-mongo-password
MONGO_DB_NAME=your-mongo-db-name

# ----- cookie
COOKIE_SECRET=your-cookie-secret

# ----- jwt tokens
JWT_SECRET=your-jwt-secret
JWT_ACCESS_TTL=your-jwt-access-ttl
JWT_REFRESH_TTL=your-jwt-refresh-ttl

# ----- swagger
SWAGGER_DOC_PATH=your-swagger-doc-path

# ----- smtp (resend)
RESEND_API_KEY=your-resend-api-key

# ----- smtp (mailtrap)
EMAIL_FROM=your-email-from
SMTP_HOST=your-smtp-host
SMTP_PORT=2525
SMTP_USER=your-smtp-user
SMTP_PASSWORD=your-smtp-password
